In [9]:
import pandas as pd
import os
import fuzzymatcher

In [10]:
# absolute path
FOLDER_DEST = os.path.abspath("../storage/")

In [11]:
# Import the customers data as data frames
licenses = pd.read_csv(FOLDER_DEST + "/licenses.csv")
apn_data = pd.read_csv(FOLDER_DEST + "/apn-data.csv")

In [14]:
print(licenses.columns)
print(apn_data.columns)

Index(['license_id', 'address'], dtype='object')
Index(['permit', 'apn', 'parsed_address'], dtype='object')

In [16]:
left_on = ["address"]
right_on = ["parsed_address"]

In [17]:
matched_results = fuzzymatcher.fuzzy_left_join(licenses,
                                               apn_data,
                                               left_on,
                                               right_on,
                                               left_id_col='license_id',
                                               right_id_col='permit')

In [ ]:
cols = ["best_match_score", "address", "parsed_address", "Address", "Provider Street Address",
    "Provider City", "City", "Provider State", "State"
]

In [21]:
matched_results.sort_values(by=['best_match_score'], ascending=False).head()

,best_match_score,__id_left,__id_right,license_id,address,permit,apn,parsed_address
811168,1.250068,str-05286l,str-05286l,str-05286l,2908 lucia jade loop 92139,str-05286l,5913320300,2908 lucia jade loop 92139
1148680,1.158014,str-07854l,str-07854l,str-07854l,10510 corte jardin del mar 92130,str-07854l,3076400800,10510 corte jardin del mar 92130
629995,1.136083,str-07024l,str-07024l,str-07024l,12930 calle de las rosas 92129,str-07024l,3150912600,12930 calle de las rosas 92129
712718,1.136083,str-02260l,str-02260l,str-02260l,12980 calle de las rosas 92129,str-02260l,3150912100,12980 calle de las rosas 92129
72251,1.136083,str-02692l,str-02692l,str-02692l,12811 calle de las rosas 92129,str-02692l,3154213600,12811 calle de las rosas 92129

In [22]:
matched_results.sort_values(by=['best_match_score'], ascending=True).head(5)

,best_match_score,__id_left,__id_right,license_id,address,permit,apn,parsed_address
670708,-0.675766,str-06705l,str-01686l,str-06705l,6140 galante place 92130,str-01686l,3043700600,4855 alberson court 92130
1166019,-0.585227,str-07383l,str-01128l,str-07383l,8430 via sonoma #no.50 92037,str-01128l,3467610400,8425 n la jolla scenic dr 92037
889469,-0.534996,str-06318l,str-00839l,str-06318l,4120 porte de merano #82 92122,str-00839l,3011220200,2583 via merano 92014
109997,-0.531587,str-05815l,str-04880l,str-05815l,3515 n caminito el rincon rd #289 92130,str-04880l,4534221800,3512 n 31st st 92104
827673,-0.512320,str-07243l,str-07728l,str-07243l,10656 caminito chueco #xx 92126,str-07728l,3113532500,10584 bandell court 92126

In [26]:
result = matched_results.query("best_match_score <= .80").sort_values(
    by=['best_match_score'], ascending=False)

In [27]:
# export file
result.to_csv(os.path.join(FOLDER_DEST, r'fuzzymatcher.csv'), index=False)